:root {
    --bg: #00807F;
    --appbg: #c0c0c0;
    --white: #ffffff;
    --black: #000000;
  }

@font-face { 
    font-family: "windowsnf";
    src: url("w95fa-webfont.woff") format("woff");
    }

    @media screen and (max-width: 1130px) {
        #sidebar {display: none;}
        .footer {display: grid !important;}
        .projects-wrapper {
            grid-template-columns: 1fr !important;
            grid-template-rows: 400px 100px 0px 400px 100px 0px 0px 0px 400px !important;
        }
    }

body {
    background: var(--bg);
}

#navigation {
    margin: auto;
    width: 80%;
    height: 10%;
    margin-top: 30px;
    display: block;
    float: right;
    margin-right: 10%;

}

#navigation ul {
    padding: 0;
    list-style: none;
}

#navigation ul li {
    float: left;
    font-size: 24px;
    margin-right: 1px;
}

#navigation ul li button{
    text-decoration: none;
    color: var(--black);
    background: var(--appbg);
    border-left: 2px solid var(--white);
    border-top: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    border-right: 2px solid var(--black);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    text-align: center;
    padding: 4px;
    z-index: 1;
    font-family: windowsnf, sans-serif;
    font-weight: 100;
    font-size: 16px;
}

#navigation ul li button.current_tab{
    background: var(--appbg);
    color: var(--black);
    border-bottom: 4px solid var(--appbg);
    z-index: 2;
    position: relative;
}

#navigation ul li a:hover{
    text-decoration: var(--white) underline;
}

.content {
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--black);
    border-right: 2px solid var(--black);
    background: var(--appbg);
    width: 80%;
    display: block;
    float: right;
    margin-right: 10%;
    border-top: 2px solid var(--white);
    margin-top: -2px;
    z-index: 1;
    font-family: windowsnf, sans-serif;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}

.content ul {
    text-align: left;
}

.img-with-text {
    text-align: center;
    width: auto;
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    height: 100%;
}

.profile-picture {
    width: 70%;
    margin-left: 15%;
}

.indent {
    display: block;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-right: 3px solid var(--white);
    border-top: 3px solid var(--black);
    border-left: 3px solid var(--black);
    border-bottom: 3px solid var(--white);
}

#sidebar {
    margin-top: 10%;
    margin-left: 0;
    margin-right: 1%;
    float: left;
    font-family: windowsnf, sans-serif;
    height: 100%;
    position: fixed;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li{
    height: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 10%;
}

#sidebar ul li a{
    text-decoration: none;
    color: var(--white);
    font-family: windowsnf, sans-serif;
}

#sidebar ul li a:hover{
    text-decoration: underline;
}

#wrapper {
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--black);
    border-right: 2px solid var(--black);
    background: var(--appbg);
    border-top: 2px solid var(--white);
    width: 80%;
    float: right;
    margin-right: 10%;
    margin-top: 3%;
    padding-bottom: 5%;
    margin-bottom: 3%;
}

#wrapper-header {
    color : var(--white);
    background: #000080;
    padding : 5px;
    font-size: 16px;
    font-family: windowsnf, sans-serif;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

#wrapper-header p{
    display: inline;
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--black);
    border-right: 2px solid var(--black);
    background: var(--appbg);
    border-top: 2px solid var(--white);
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    color: black;
    margin: 0;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 0fr 0fr 1fr;
    grid-template-rows: 400px 100px 400px;
    overflow-y: scroll;
    height: 1000px;
}
.project {
    padding: 10px;
    background-color: #ffffda;
    
}

.project img {
    width: 75%;
    height: 200px;
    
}

.no-float {
    float: none;
}

.footer {
    display: none;
    text-align: center;
    width: 50%;
    margin-left: 0%;
    padding-left: 25%;
    padding-top: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style: none;
}



.footer li{
    height: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 10%;
}

.footer li a{
    text-decoration: none;
    color: var(--white);
    font-family: windowsnf, sans-serif;
}

.footer li a:hover{
    text-decoration: underline;
}